body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-container {
  width: 99%;
  /* max-width: 1600px; */
  height: 100%;
  max-height: 900px;
  background: #fff;
  box-shadow: 0 6px 25px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#chat-header {
    padding: 10px 10px;
    background: #134676;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messages {
  list-style: none;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#messages li {
padding: 5px 15px;
  margin-bottom: 2px;
  border-radius: 20px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: 16px;
}

#messages li.no-header {
  padding-top: 2px;
  margin-bottom: 1px;
}

#messages li.self {
  background: #0084ff;
  color: #fff;
  align-self: flex-end;
}

#messages li.other {
  background: #e4e6eb;
  color: #000;
  align-self: flex-start;
}

.msg-header {
  font-size: 12px;
  color: #000;
  display: flex;
  justify-content: space-between;
}

.msg-body {
  font-size: 15px;
}

#input-container {
  display: flex;
  padding: 15px;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
}

#messageInput {
  flex: 1;
  padding: 12px 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

#sendBtn, #logoutBtn {
  margin-left: 15px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

#sendBtn {
  background: #0084ff;
  color: #fff;
}

#logoutBtn {
  background: #f44336;
  color: #fff;
}

.time{
  font-size: 11px;
opacity: 0.7;
}
